#canvas{
  background-color: black;
  top: 0%;
  left: 300px;
  position: absolute;
  display: block;
  }


#Create{
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #919191;
    /*alle Inhalte des Divs sollen zentralisiert werden*/
    text-align: center;

}


#SavedRockets {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #919191;
    /*alle Inhalte des Divs sollen zentralisiert werden*/
    text-align: center;


}

 /* Dropdown Button */
 .dropbtn {
    background-color: #1d3fa7;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  #list :hover {
    cursor: pointer;
    /*Wenn man über einen Eintrag in der Liste fährt soll dieser blau werden*/
    background-color: #7185de;
    
  }

  /*Wenn man einen Eintrag in der Liste anklickt soll dieser Eintrag hervorgehoben werden und so lange blieben bis man auf einen neuen Klickt*/
  #list :active {
    font-weight: bold;  
  }
  
 
